*{
    margin: 0;
    padding: 0;
}
/* header section */
header{
    background-image: url("/banner3.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
}
.header-section{
    float: right;
    margin-right: 200px;
    margin-top: 280px;
    
}

.header-title{
    
    color: white;
    font-weight: 700;
    font-size: 65px;
    width: 525px;
    text-align: right;

}
.header-paragraph{
    
    width: 400px;
    font-size: 16px;
    color: white;
    text-align: right;
    color: #c0bdbd;
    margin-left: 120px;
    margin-top: 20px;

}
.header-btn{
    background-color: white;
    color: #0877B6;
    border: 0;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    margin-left: 360px;
    margin-top: 20px;
    
}
/* experience section */
.experience-section{
    display: flex;
    gap: 130px;
    justify-content: center;
    margin-top: 100px;
}
.ex-image img{
    width: 400px;
}
.ex-box{
    width: 300px;
    margin: 200px 0px;
}
.ex-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.ex-paragraph{
    color: #A1A1A1;
    text-align: left;
    margin: 20px 0px;
}
.ex-list{
    color: #A1A1A1;
    list-style-type: ;
}
/* plan section */
.plan-title{
    
    margin-left:  755px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
}
.plan-data{
    display: flex;
    gap: 90px;
    justify-content: center;
    text-align: center;
}
/* contact section */
.contact-section{
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url("/watch.png") ;
    
    width: 840px;
    height: 200px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 100px;
}
.contact-paragraph{
    width: 300px;
    padding: 27px 30px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.contact-btn{
    background-color: white;
    color: #075FA7;
    border: 0;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-left: 30px;
}
/* footer */
footer{
    background-color: #151414;
    display: flex;
    gap: 300px;
    justify-content: center;
    margin-top: 100px;
}
.footer-left{
    width: 400px;
}

.footer-title{
    color: white;
    font-size: 40px;
    margin-top: 100px;
}
.footer-paragraph{
    margin: 20px 0px;
    color: #c0bdbd;
}
.footer-mail{
    margin-bottom: 20px;
    color: #c0bdbd;
}
.footer-phone{
    color: #c0bdbd;
}
.footer-logo{
    margin: 20px 5px;
}
.footer-right{
    width: 400px;
    display: flex;
    flex-direction: column;
    
}
.footer-right-paragraph{
    color: white;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 60px;
}
.footer-input{
    color: #c0bdbd;
    background-color: transparent;
    border: 2px solid #c0bdbd;
    height: 35px;
    width: 200px;
    padding-left: 15px;
    border-radius: 7px;
    margin-top: 30px ;
    margin-left: 60px;
}
.footer-btn{
    width: 100px;
    background-color: orangered;
    color: white;
    margin: 10px 0px;
    height: 40px;
    border-radius: 5px;
    margin-left: 60px;
}